@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
  height: 100px;
  position: relative;
  max-width: 100vw;
  background: #1c1c1c;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
.innerNav {
  width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subNav {
  display: flex;
  justify-content: space-around;
  width: max-content;
  align-items: center;
  font-size: 1em;
}

.subNav a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  margin-right: 0.8em;
  text-transform: uppercase;
  opacity: 0.8;
}

.subNav a:hover {
  opacity: 1;
}

.mobSideBar {
  position: absolute;
  height: 100vh;
  top: 100px;
  width: 100%;
  background: #1c1c1c;
  transition: opacity 0.2s ease;
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}

.toggleSideBar {
  opacity: 0.95;
  pointer-events: auto;
}

.sideBar {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}

.hamburger,
.mobSideBar {
  display: none;
}

.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active::before,
.hamburger.is-active::after {
  background-color: #fff !important;
}

.footer {
  max-width: 100%;
  min-height: 200px;
  max-height: 300px;
  background: #1c1c1c;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.heading {
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

/*tailwind extended*/
.bg-black-seethrough {
  background: rgba(0, 0, 0, 0.5);
}

.max-w-2xs {
  max-width: 18rem;
}

@media screen and (max-width: 768px) {
  .desktopNav {
    display: none;
  }

  .hamburger,
  .mobSideBar {
    display: block;
  }

  .hamburger-inner {
    background: white;
  }

  .nav {
    justify-content: space-between;
  }

  .sideBar {
    font-size: 1.5em;
  }

  .sideBar a {
    margin-top: 20px;
    margin-right: 0;
  }
}
